/* 시작화면의 css스타일 입니다.*/
#start{
    background-color: burlywood;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    font-family: 'Cute Font',cursive;
}
#sBttn{
    text-align: center;
    /*버튼 클릭시-->#0dcaf0b8*/
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    
}
#sBttn:hover,#sBttn:focus{
    background-color: white;
    color: burlywood;
    
}

p{
    font-size: 20px;
}